#framechat {
    width: 100%;
    max-width: 1000px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
    box-shadow: 0px 0px 3px #bbbbbb;
    border-radius: 5px;
    overflow: hidden;
    letter-spacing: 0.1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}

@media screen and (max-width: 360px) {
    #framechat {
        height: 100vh;
    }
}



#framechat .content {
    float: right;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#framechat .content .header {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #f5f5f5;
    overflow: hidden;
    box-shadow: -1px 1px 5px #e2e2e2;

}

#framechat .content .header i {
    height: 20px;
    font-size: 20px;
    width: 20px;
    border-radius: 50%;
    float: left;
    margin: 11px 12px 0 13px;
}

#framechat .content .header p {
    float: left;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 43px;
}

#framechat .content .messages {
    height: auto;
    min-height: calc(100% - 90px);
    max-height: calc(100% - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

#framechat .content .messages ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


#framechat .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#framechat .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#framechat .content .messages ul li {
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

#framechat .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

#framechat .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
}

#framechat .content .messages ul li.sent p {
    background: #435f7a;
    color: #f5f5f5;
}

#framechat .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}

#framechat .content .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
}

#framechat .content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
}

#framechat .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    word-wrap: break-word;
    border-radius: 20px;
    line-height: 130%;
}

@media screen and (min-width: 10px) {
    #framechat .content .messages ul li p {
        max-width: 400px;
    }
}


.Text-Box{
    width: 90%;
    height: 40px;
    resize: none;
    overflow: hidden;
    white-space:nowrap;
    border-radius: 50px;
    text-align: center;
    line-height: 25px;
}

.submit{
width: 10%;
background-color: blue;
color: whitesmoke;
height: 100%;
border-radius: 50px;
}

.placeholder{
    text-align: center;
    color: aqua;

}